/Amiable.class
/Amicable.class
/Animal.class
/Bird.class
/Electable.class
/ExtraTerrestial.class
/Flyable.class
/FlyingHedgehog.class
/FlyingHippo.class
/IntelligentMouse.class
/Learnable.class
/PolarAirBear.class
/Runnable.class
/Sellable.class
/Swimmable.class
/WoofDog.class
/Zoo.class
